#holder {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 300;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#holder > i {
    font-size: 8rem;
    color: rgb(165,6,52);
}
#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 300;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#bottom > i {
    font-size: 3rem;
    margin: 12px;
}
#bottom #btnPlay {
    color: rgb(82,175,82);
}
#bottom #btnStop {
    color: rgb(165,6,52);
}
#bottom img {
    width: 6%;
    position: fixed;
    left: 10px;
}